<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Falcon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F8D7461C72978600A92DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F8D75C1C72978600A92DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F8D7671C72978600A92DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
